---
layout: page
title: Writing &amp; Talks
permalink: /blog/
---

<ul class="blog-posts">
{% for post in site.posts %}
			<li class="highlight highlight--blog">
				<a href="{{ site.baseurl }}{{ post.url }}">
				<h4>{{ post.title }}</h4>
				<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
				{% if post.author %}<span class="post-author">By {{ post.author }}</span>{% endif %}
				{{ post.excerpt }}</a>
				<a class="read-more-link" href="{{ site.baseurl }}{{ post.url }}">Continue Reading</a>
			</li>
{% endfor %}
</ul>