---
layout: default
---

<p>Hey there – my name’s Chris.  I live in Kent, Ohio, and I design websites, with a focus on higher education and non-profit businesses. I currently work full-time for Kent State University in Kent, Ohio, with degrees in Electronic Media and User Experience Design. Want to know more?  Feel free to browse my work, read my latest posts or hire me for freelance jobs.</p>

<a href="{{base.url}}about">More About Me Here</a>

<h3>Latest Projects</h3>

{% for project in site.projects limit:2 %}
	<a href="{{ project.url }}"><img src="assets/{{project.thumbnail}}" />{{ project.title }}</a>
{% endfor %}

<a href="{{base.url}}work">More Projects</a>

<h3>Latest Post</h3>

{% for post in site.posts limit:1 %}
	<a href="{{ post.url }}">{{ post.title }}{{ post.excerpt }}</a>
{% endfor %}

<a href="{{base.url}}blog">More Posts</a>