---
layout: default
---

<h2>Web and User Experience Consulting in Kent, Ohio</h2>

<p class="introduction">Hi, I’m Chris Hallahan.  I work with clients to make their products better through user-centered design.  During the day, I work full-time for Kent State University at a student-powered agency called <a href="http://www.ideabasekent.com">IdeaBase</a> and teach a <a href="http://www.rwdkent.com">class on Responsive Web Design</a>. Feel free to <a href="{{base.url}}work">browse my work</a>, read my <a href="{{base.url}}blog">latest posts</a> or <a href="{{base.url}}contact">get in touch</a>.</p>

<section class="highlight-container">
	<div class="highlight highlight-writing">
		<h3>Writing &amp; Talks</h3>
		{% for post in site.posts limit:1 %}
			<a href="{{base.url}}{{ post.url }}">
			<h4>{{ post.title }}</h4>
			{{ post.excerpt }}</a>
			<a class="read-more-link" href="{{base.url}}{{ post.url }}">Continue Reading</a>
		{% endfor %}
		<a class="button" href="{{base.url}}blog">More Writing</a>
	</div>
	<div class="highlight highlight-projects">
		<h3>Projects</h3>
		{% for project in site.projects limit:2 %}
			<div class="project">
				<a href="{{base.url}}{{ project.url }}"><img src="assets/{{project.thumbnail}}" />
				<h4>{{ project.title }}</h4>
				</a>
			</div>
		{% endfor %}
		<a class="button" href="{{base.url}}work">More Projects</a>
	</div>
</section>