<footer class="site-footer">

  <h3>Let's Talk</h3>

  <p>Looking for consulting on web design, user experience or research?  <a href="/contact">Get In Touch.</a></p>

  <ul>
    <li>Email</li>
    <li>GitHub</li>
    <li>LinkedIn</li>
    <li>Twitter</li>
    <li>Facebook</li>
  </ul>

  Copyright 2015 Christopher Hallahan

</footer>

<!--Stuff for After the Footer -->

<link rel="stylesheet" href="{{ "/css/main.css"}}">

<script>
  (function(d) {
    var config = {
      kitId: 'wvp2hlk',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>