<div class="header-wrapper">
<header class="site-header">
	  <a href="{{ site.baseurl }}/index.html" class="site-logo">
	    <img src="{{site.baseurl}}/assets/cH-mark.svg"  alt="CH" />
	  </a>
	<nav>
	  <ul>
	    <li  {% if page.url contains '/blog/' %} class="active"{% endif %}><a href="{{ site.baseurl }}/blog">Writing &amp; Talks</a></li>
	    <li  {% if page.url contains '/work/' %} class="active"{% endif %}><a href="{{ site.baseurl }}/work">Work</a></li>
	    <li  {% if page.url contains '/about/' %} class="active"{% endif %}><a href="{{ site.baseurl }}/about">About</a></li>
	    <li  {% if page.url contains '/contact/' %} class="active"{% endif %}><a href="{{ site.baseurl }}/contact">Hire Me</a></li>
	  </ul>
	</nav>
</header>
</div>
