<div class="header-wrapper">
<header class="site-header">
	  <a href="{{base.url}}/">
	    <h1>Christopher <span>Hallahan</span></h1>
	  </a>
	<nav>
	  <ul>
	    <li  {% if page.url contains '/blog/' %} class="active"{% endif %}><a href="{{ site.baseurl }}blog">Blog</a></li>
	    <li  {% if page.url contains '/work/' %} class="active"{% endif %}><a href="{{ site.baseurl }}work">Work</a></li>
	    <li  {% if page.url contains '/about/' %} class="active"{% endif %}><a href="{{ site.baseurl }}about">About</a></li>
	    <li  {% if page.url contains '/contact/' %} class="active"{% endif %}><a href="{{ site.baseurl }}contact">Contact</a></li>
	  </ul>
	</nav>
</header>
</div>