<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="S3JpRmacKSwxJ1d6aArAKYrfQZG7JKnFxGB6cJdL-zI" />
  <title>{% if page.title %}{{ page.title }}{% else %}User Experience (UX) and Web Design Consulting in Kent OH{% endif %} - Christopher Hallahan</title>
  <link rel="mask-icon" href="website_icon.svg" color="rgb(2,79,105)">
  <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{site.baseurl}}/manifest.json">
  <meta http-equiv="Content-Security-Policy" content="default-src www.youtube.com; script-src 'self' www.chrishallahan.com chrishallahan.com www.google-analytics.com ajax.googleapis.com; connect-src 'self'; img-src 'self' www.google-analytics.com; style-src 'self' fonts.googleapis.com 'unsafe-inline'; font-src 'self' fonts.gstatic.com;">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="{{site.baseurl}}//mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <style type="text/css">
        {% include critical.css %}
      </style>
  <script src="{{ site.baseurl }}/scripts/loadcss.js"></script>
  <noscript><link href="{{ site.baseurl }}/css/main.css" rel="stylesheet"></noscript>
</head>
