a.button {
	background-color: $dark-blue;
	color: white;
	font-weight: bold;
	padding: .75em 1em;
	margin-bottom: 1em;
	display: inline-block;
	border-radius: 5px;
	margin-top: 1em;
	text-decoration: none;
	transition: .3s all ease;
	&:hover, &:focus {
		background-color: $light-blue;
	}
}

a.read-more-link {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	color: $light-blue;
	font-size: .85em;
	margin-bottom: 2em;
	&:after {
		content: "\2192";
		width: 25px;
		height: 25px;
		margin-left: .5em;
	}
}