header {
	background-color: $light-blue;
	color: white;
	text-align: center;
	padding: .5em .75em;
	h1 {
		font-family: $sans-serif-condensed;
		text-transform: lowercase;
		font-size: 2.3em;
		span {
			color: $gold;
		}
	}
	a {
		color: white;
		text-decoration: none;
	}
}