.highlight {
	position: relative;
	margin-bottom: 2em;
	&:before {
		content:"";
		width: 12px;
		border-radius: 3px;
		margin-left: -1.75em;
		position: absolute;
		height: 100%;
		display: inline-block;
	}
	a {
		text-decoration: none;
		color: $gray;
	}
	h3 {
		margin-top: 0;
		padding-top: 0;
	}
	@media screen and (min-width: 700px) {
		width: 45%;
		float: left;
		&:before {
			height: 20px;
		}
	}
}

.highlight-container {
	@include clearfix;
}

.highlight-writing {
	&:before {
		background-color: $light-yellow;
	}
	@media screen and (min-width: 700px) {
		margin-right: 8%;
		margin-left: 2%;
	}
	@media screen and (min-width: 1000px) {
		margin-right: 8%;
		margin-left: 0;
	}
}

.highlight-projects {
	&:before {
		background-color: $green;
	}
}

.blog-posts, .project-posts {
	@include clearfix;
	list-style-type: none;
	li:nth-child(odd) {
		margin-right: 10%;
	}
}

.project-posts {
	img {
		max-width: 300px;
	}
}

.project-thumb {
	height: 200px;
	overflow: hidden;
	margin-bottom: 1em;
}