nav {
	background-color: $light-blue;
	padding-top: .5em;
	font-family: $sans-serif-condensed;
	ul {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		list-style-type: none;
		width: 80%;
		max-width: 275px;
		margin: 0 auto;
	}
	a {
		color: white;
		text-decoration: none;
		transition: .3s color ease;
		font-size: .8em;
		&:hover, &:focus {
			color: $light-yellow;
		}
	}
	li {
		-webkit-flex-direction: row;
		flex-direction: row;
		text-align: center;
		border-bottom: none;
		padding-bottom: 10px;
		&.active a {
			color: $light-yellow;
		}
		&:hover {
			border-bottom: 5px solid $green;
			transition: border-bottom-width 0.5s;
			padding-bottom: 5px;
		}
	}
}

@media screen and (min-width: 600px) {
	nav {
		background-color: $dark-blue;
		position: absolute;
		width: 80%;
		padding-top: .85em;
		padding-bottom: 1.6em;
		right: 0px;
		max-width: 550px;
		font-size: 1.3em;
		ul {
			max-width: 400px;
		}
	}
}

@media screen and (min-width: 1000px) {
	nav {
		margin-right: 0;
		transition: .3s all ease;
		a {
			font-size: .9em;
		}
	}
}
