nav {
	background-color: $dark-blue;
	font-family: $sans-serif-condensed;
	padding: .75em;
	margin-bottom: 1em;
	ul {
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
		list-style-type: none;
		width: 80%;
		margin: 0 auto;
	}
	a {
		color: white;
		text-decoration: none;
	}
	li {
		-webkit-flex-direction: row;
		flex-direction: row;
		text-align: center;
	}
}

@media screen and (min-width: 800px) {
	nav {
		position: absolute;
		width: 40%;
		border-radius: 5px;
		right: 0px;
		margin-right: -5px;
		max-width: 450px;
		font-size: 1.3em;
	}
}