.project {
	@include clearfix;
	margin-bottom: 1em;
	img {
		width: 30%;
		max-width: 100px;
		height: auto;
		float: left;
		border-radius: 1px;
		border: 1px solid lighten($gray,50%);
	}
	h4 {
		width: 70%;
		float: left;
		padding-left: 1.5em;
		padding-top: .5em;
	}
}

.project-posts {
	margin-top: 2em;
	border-top: 1px solid lighten($gray,50%);
	padding-top: 2em;
}