.project {
	@include clearfix;
	margin-bottom: 2em;
	img {
		width: 30%;
		height: auto;
		float: left;
		border-radius: 5px;
	}
	h4 {
		width: 70%;
		float: left;
		padding-left: 1em;
		padding-top: .5em;
	}
}