.project {
	@include clearfix;
	margin-bottom: 1em;
	img {
		width: 30%;
		max-width: 100px;
		height: auto;
		float: left;
		border-radius: 1px;
		border: 1px solid lighten($gray,50%);
		margin-right: 1em;
		margin-bottom:1em;
	}
	h4 {
	}
	p {
		font-size: .9em;
		line-height: 1;
	}
}

.project-posts {
	margin-top: 2em;
	padding-top: 2em;
}
