table {
	margin-top: 2em;
	margin-bottom: 3em;
	overflow-x: auto;
	max-width: 100%;
	display: block;
	border-collapse: collapse; 
}

th {
	background-color: $dark-blue;
	color: white;
	padding: 1em 1em .9em 1em;
	text-align: left;
}

td a {
	color: $dark-blue;
}

table td {
	vertical-align: top;
	padding: 1em 1em .9em 1em;
}

table tr td:first-child {
	font-weight: bold;
}

table tbody tr {
	padding: 1em 0;
	border-bottom: 1px solid lighten($gray,50%);

}