body {
	font-family: $sans-serif;
}

h1 {
		font-family: $sans-serif-condensed;
		color: $light-blue;
		text-transform: uppercase;
		font-size: 1.8em;
		margin-bottom: .5em;
		line-height: 1.1;
		@media screen and (min-width: 700px) {
			font-size: 2.5em;
		}
}

h2 {
	font-family: $serif;
	font-weight: 600;
	color: $dark-blue;
	position: relative;
	font-size: 1.8em;
	line-height: 1.2;
	@media screen and (min-width: 500px) {
		font-size: 2em;
	}
	@media screen and (min-width: 700px) {
		font-size: 2.5em;
	}
	@media screen and (min-width: 1030px) {
		margin-left: 0;
		font-size: 3em;
	}
}

h3 {
	font-family: $sans-serif-condensed;
	font-weight: 600;
	text-transform: uppercase;
	color: $gray;
	margin-bottom: .75em;
	font-size: 1.3rem;
	padding-top: 1em;
	@media screen and (min-width: 700px) {
		font-size: 1.5rem;
		margin-bottom: 1em;
	}
}

h4 {
	font-weight: bold;
	font-size: 1.2rem;
	color: $light-blue;
	margin-bottom: .5em;
	margin-top: 1.5em;
	@media screen and (min-width: 700px) {
		font-size: 1.3rem;
		margin-bottom: .7em;
	}
}

p {
	line-height: 1.5;
	margin-bottom: 1em;
}

.introduction {
	font-size: 1.1em;
	line-height: 1.6;
	padding-bottom: 1.5em;
	border-bottom: 1px solid rgba($gray, .25);
	margin-bottom: 2.5em;
	@media screen and (min-width: 700px) {
		font-size: 1.3em;
		line-height: 1.7;
	}
	@media screen and (min-width: 1000px) {
		font-size: 1.5em;
		padding-top: .5em;
		padding-bottom: 2em;
	}
}

article {
	@include clearfix;
	p {
		font-size: 1.1em;
	}
	ul {
		margin: 1.25em;
		li {
			margin-bottom: .75em;
			line-height: 1.5;
			font-size: 1.1rem;
		}
	}
	ol {
		margin-left: 2em;
		margin-bottom: 1.5em;
		li {
			margin-bottom: .75em;
		}
	}
	.introduction {
		margin-bottom: 1em;
		@media screen and (min-width: 1000px) {
			padding-top: .5em;
		}
	}
}
p a {
	font-weight: bold;
	color: $dark-blue;
	word-break:break-word;
	transition: .3s color ease;
	&:hover, &:focus {
		color: $light-blue;
	}
}

.post-title {
	font-size: 2.5em;
}

hr {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}

.credits {
	font-size: .85em;
}
