// Typography

$sans-serif: 'Roboto', sans-serif;

$sans-serif-condensed: "Roboto Condensed", "HelveticaNeue-CondensedBold", "Arial Narrow", sans-serif;

$serif: 'Roboto', sans-serif;


// Colors

$light-blue: rgb(0,109,146);
$dark-blue: rgb(2,79,105);
$gold: rgb(255,208,38);
$gray: rgb(74,74,74);
$green: rgb(169,201,134);
$light-yellow: rgb(255,232,116);
