// Typography 

$sans-serif: "proxima-nova", sans-serif;

$sans-serif-condensed: "tablet-gothic-condensed", "Arial Narrow", sans-serif;

$serif: "proxima-nova", sans-serif;


// Colors

$light-blue: rgb(0,109,146);
$dark-blue: rgb(4,64,84);
$gold: rgb(255,208,38);
$gray: rgb(74,74,74);
$green: rgb(169,201,134);
$light-yellow: rgb(255,232,116);